
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.DS_Store
.env
.env.*
.env*
.idea/
.next/
.pnp.*
.pnp.js
.pnp/
.pnpm-debug.log*
.vercel
.vscode/
.yarn/*
*.log
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
# build
# debug
# dependencies
# deps
# editores
# env & segredos
# env files (can opt-in for committing if needed)
# misc
# next.js
# production
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# sistema
# supabase local
# testing
# typescript
# vercel
build/
dist/
next-env.d.ts
node_modules/
npm-debug.log*
out/
supabase/.branches/
supabase/.temp/
yarn-debug.log*
yarn-error.log*
